<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BinVentory{% endblock %}</title>
    <!-- Darkly Theme from Bootswatch -->
    <link href="//cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/darkly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('homepage') }}"><img src="{{ url_for('static', filename='images/Full_Row.svg') }}" alt="BinVentory" class="img-fluid" style="width: 150px;"></a>
            <div class="justify-content-end">
                {% block search %}
                  <!-- Magnifying glass icon to trigger the search modal -->
                  <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#searchModal">
                      <i class="fas fa-search"></i> <!-- FontAwesome icon for magnifying glass -->
                  </button>
                {% endblock %}
            </div>
        </div>
    </nav>
    

    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="searchModalLabel">Search BinVentory</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="GET" action="{{ url_for('search') }}">
              <div class="input-group">
                <input type="text" class="form-control" name="query" placeholder="Search locations, bins, items..." required>
                <button class="btn btn-primary" type="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="//cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
